############################
#Eclipse Specific GitIgnore#
############################
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.log
*/**/*.pyc
*.pyo
*.class
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cache/